.container {
  width: 960px;
}

.header {
  background-color: rgba(200, 220, 200, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Garamond', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
  
  height: 40px;
}

.logo-icon {
    float: left;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 100, 100, .95);
}

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a {
  color: #898989;
}


.gamesList {

    width: 200px;
    height: 200px;
    display: block;
    float: left;
}

.gamesList ul {
    padding-top: 10px;
}

.centerContent {
    position: relative;
    height: 863px;
    width: 1024px;
    background: url("board.jpg") no-repeat;
    clear: both;
    margin: auto;
}

#messageArea{
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

#battleshipTable {
    position: relative;
    left: 172px;
    top: 98px;
}

#battleshipTable td {
    width: 92px;
    height: 92px;
}

#backgammonTableOne {
    position: absolute;
    left: 390px;
    top: 32px;
}
/* #backgammonTableOne td {
    border: solid 2px blue;
    width: 41px;
    height: 41px;
}*/
#backgammonTableTwo {
    position: absolute;
    left: 32px;
    top: 32px;
}
#backgammonTableThree {
    position: absolute;
    left: 32px;
    top: 363px;
}
#backgammonTableFour {
    position: absolute;
    left: 390px;
    top: 363px;
}
#backgammonGame td {
   /* background-color: blue;*/
    width: 45px;
    height: 45px;
}
#dice {
    position: absolute;
    left: 309px;
    top: 294px;
    background-color: rgb(40,40,40);
}
form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

button {
    border-radius: 5px;
    background-color: rgba(200, 210, 200, 0.95);
}

.hit {
    background: url("ship.png") no-repeat center center;
}

.miss {
    background: url("miss.png") no-repeat center center;
}
.empty {
    background-color: rgba(100,100,100,20);
}

.fillWhite {
    background-color: rgba(255,255,255,50);
    
}
.fillBlack {
    background-color: rgba(0,0,0,50);
}

#battleshipButton {

	border-radius: 5px;
	border: 2px solid #4d4440;
	background-color: rgba(200, 210, 200, 0.95);
	height: 50px;
	width: 120px;
	margin-top: 15px;
	text-align: center;
	float: right;
}

#backgammonGame {
    position: relative;
    background: url("backgammonBoard.jpg") no-repeat;
    height: 641px;
    width: 720px;
    clear: both;
    margin: auto;
}